@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  font-family: "Quicksand";
  margin: 0;
  color: rgb(255, 252, 251);
}
a {
  text-decoration: none;
}
.blogdetails::before {
  background-color: black;
  /* background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(3, 0, 1),
    rgb(241, 12, 62)
  ); */
}
